*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    color: yellow;
}

body{
    background-color: rgb(17, 17, 59);
}

.burger{
    display: none;
}

.burger div{
    width: 25px;
    height: 5px;
    margin: 5px;
    background-color: yellow;
}

nav{
    background-color: navy;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    font-size: 2em;
}

@media screen and (max-width:768px){
    body{
        display: none;
    }
}
